//out: ../css/fdCookieLaw.css

$wrapperMargin: 40px 10%;
$wrapperFontFamily: sans-serif;
$wrapperFontSize: 1em;
$wrapperLineHeight: 1.3em;

$white: #fff;
$pageFontColor: #555;
$bannerBackground: #050505;
$bannerFontColor: $white;
$color-1: #2976d0;
$color-1-hover: #4189dd;
$color-2: #b91313;
$color-2-hover: #cb2727;


$chapterMargins: 0 0 30px 0;


/* ================================================ */
/* Banner */
/* ================================================ */

.fdc-cookielaw__banner {
    position: fixed;
    top: -101%;
    left: 0;
    right: 0;
    padding: 20px;
    font-family: $wrapperFontFamily;
    background: $bannerBackground;
    color: $bannerFontColor;
}

.no-bootstrap.fdc-cookielaw__banner {

    a {
        color: $color-1;
        text-decoration: none;
        -webkit-transition: color 0.2s ease;
                transition: color 0.2s ease;

        &:hover {
            color: $color-1-hover;
        }
    }
}

.fdc-cookielaw__banner.topBanner {
    top: -101%;
    bottom: auto;
    -webkit-transition: top 0.5s ease;
            transition: top 0.5s ease;
}

.fdc-cookielaw__banner.bottomBanner {
    top: auto;
    bottom: -101%;
    -webkit-transition: bottom 0.5s ease;
            transition: bottom 0.5s ease;
}

.fdc-cookielaw__banner.topBanner.showBanner {
    top: 0;
}

.fdc-cookielaw__banner.bottomBanner.showBanner {
    bottom: 0;
}

.fdc-cookielaw__banner-text {
    p {
        margin: 0;
    }
}

.fdc-cookielaw__policy-buttons {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #333;
}

.fdc-cookielaw__banner-buttons,
.fdc-cookielaw__policy-buttons {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333;

    .button {
        display: inline-block;
        color: $white;
        background: $color-1;
        font-size: 1.2em;
        padding: 5px 10px;
        margin: 0 10px 5px 0;
        text-decoration: none;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        -webkit-transition: background 0.2s ease, color 0.2s ease;
                transition: background 0.2s ease, color 0.2s ease;
        &:hover {
            background: $color-1-hover;
            color: $white;
        }
    }
    
    .button-red {
        background: $color-2;
        &:hover {
            background: $color-2-hover;
        }
    }

}



/* ================================================ */
/* Policy Page */
/* ================================================ */

.fdc-cookielaw__policy {
    margin: $wrapperMargin;
    font-family: $wrapperFontFamily;
    font-size: $wrapperFontSize;
    color: $pageFontColor;
    
    a {
        color: $pageFontColor;
    }
    
    p {
        margin: 0 0 1em 0;
        line-height: $wrapperLineHeight;
    }
    
    h5 {
        font-weight: bold;
        font-style: italic;
    }
}


.fdctool__services {
    
    
    .fdctool__services_cat {
        
        .fdctool__services_cat-title {
            font-weight: 700;
        }

        .fdctool__services_cat-items {
        }
        
    }
    
}


// @NEW-CODE Gix075 ----------------------------------------- * 
// This is for new update (single cookie choise)
// @update 1.3.0 @update 1.3.1 @update 1.3.2  

.fdctool__services_item-choise {
    margin-top:  30px;
    margin-bottom:  30px;
    h6 {
        margin: 0;
        font-weight: bold;
    }
    
    .fdctool__services_item-choise-panelbody {
        p {
            font-size: 0.9em;
        }
        .fdctool__services_item-choise-buttons {
            .item-choise-btn {}
        }
        .fdctool__services_item-choise-msg {
            font-size: 0.8em;
            font-weight: bold;
            display: none;
            padding: 15px 0 0 0;
        }
    }
    
}

.fdctool__services_item-choise.accepted {
    h6 {
        .choise-label.accepted {
            display: inline-block;
        }
        .choise-label.rejected {
            display: none;
        }
    }
}

.fdctool__services_item-choise.rejected {
    h6 {
        .choise-label.accepted {
            display: none;
        }
        .choise-label.rejected {
            display: inline-block;
        }
    }
}

// / $NEW-CODE ---------------------------------------------- * 