@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
.privacy-policy.privacy-policy__wrapper {
  margin: 40px 10%;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #555;
}
.privacy-policy.privacy-policy__wrapper a {
  color: #555;
}
.privacy-policy.privacy-policy__wrapper p {
  margin: 0 0 1em 0;
  line-height: 1.3em;
}
.privacy-policy.privacy-policy__wrapper h2,
.privacy-policy.privacy-policy__wrapper h3,
.privacy-policy.privacy-policy__wrapper h4 {
  margin: 0 0 1em 0;
}
.privacy-policy.privacy-policy__wrapper .privacy-policy__header,
.privacy-policy.privacy-policy__wrapper .privacy-policy__chapter {
  padding: 0 0 30px 0;
}
.privacy-policy.privacy-policy__wrapper .siteName,
.privacy-policy.privacy-policy__wrapper .siteURL,
.privacy-policy.privacy-policy__wrapper .siteEmail,
.privacy-policy.privacy-policy__wrapper .companyName,
.privacy-policy.privacy-policy__wrapper .adminName,
.privacy-policy.privacy-policy__wrapper .adminSurname {
  font-weight: 700;
}
